.contenedor {
  padding: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.Lista {
  list-style: none;
}

.ItemLista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 55vw;
}

.ItemLista:hover {
  color: black;
  background-color: #7b7777;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.ItemLista>a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65vw;
}

.ItemLista>a>section>p {
  text-wrap: wrap;
}

.ItemLista>a>section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
}