.contenedor {
  padding: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.Lista {
  list-style: none;
}

.ItemLista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 55vw;
  border: 2px solid white;
  margin: 2vh;
}

.ItemLista:hover {
  color: black;
  background-color: #7b7777;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.ItemLista>a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65vw;
}

.ItemLista>a>section>p {
  text-wrap: wrap;
}

.ItemLista>a>section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
  padding-left: 5px;
}

.ItemLista>a>section>h2 {
  padding: 7px;
}

.ItemLista>a>section>h5 {
  font-family: 'Courier New', Courier, monospace;
  padding: 2px;
  font-size: large;
}

.ItemLista>a>section>small {
  display: contents;
}


@media screen and (max-width: 1020px) {
  .ItemLista>a>img {
    width: 100%;
    height: auto;
  }
}
