.contenedor {
  padding: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.Lista {
  list-style: none;
}

.ItemLista {
  margin: 6px;
  width: 100%;
  padding: 6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.ItemLista:hover {
  color: black;
  background-color: #7b7777;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.ItemLista>a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65vw;
}

.ItemLista>a>section>p {
  text-wrap: wrap;
}

.ItemLista>a>section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
}