.btnHome {
  height: 50%;
  background: center/contain no-repeat url(/impresora.jpg);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  filter: opacity(1);
  -webkit-filter: opacity(1);
}

#btn-invitaciones {
  background: center/contain no-repeat url(/invitacion.jpg);
}

#btn-imprimir:hover,
#btn-invitaciones:hover {
  filter: opacity(0.5);
}

#btn-imprimir:hover>p,
#btn-invitaciones:hover>p {
  text-decoration: underline;
}

#letras {
  font: 2rem 'Times New Roman', Times, serif;
  color: black;
}

.contenedor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkBtn {
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: 400ms color cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media screen and (max-width:1230px) {
  #btn-imprimir {
    justify-content: flex-end;
  }

  #btn-imprimir>p {
    margin-left: 0;
  }
}