.btnHome {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

#btn-invitaciones {
  background-image: url(/invitacion.jpg);
  background-position: left;
  align-items: flex-end;
}

#btn-imprimir {
  background-image: url(/impresora.jpg);
  background-position: right;
}

#btn-imprimir:hover,
#btn-invitaciones:hover {
  opacity: 0.5;
}

@keyframes borderlisimo {
  0% {
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
  }

  25% {
    border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    -ms-border-radius: 20px 0px 0px 0px;
    -o-border-radius: 20px 0px 0px 0px;
  }

  50% {
    border-radius: 0px 20px 0px 0px;
    -webkit-border-radius: 0px 20px 0px 0px;
    -moz-border-radius: 0px 20px 0px 0px;
    -ms-border-radius: 0px 20px 0px 0px;
    -o-border-radius: 0px 20px 0px 0px;
  }

  70% {
    border-radius: 0px 0px 20px 0px;
    -webkit-border-radius: 0px 0px 20px 0px;
    -moz-border-radius: 0px 0px 20px 0px;
    -ms-border-radius: 0px 0px 20px 0px;
    -o-border-radius: 0px 0px 20px 0px;
  }

  100% {
    border-radius: 0px 0px 0px 20px;
    -webkit-border-radius: 0px 0px 0px 20px;
    -moz-border-radius: 0px 0px 0px 20px;
    -ms-border-radius: 0px 0px 0px 20px;
    -o-border-radius: 0px 0px 0px 20px;
  }
}

#btn-imprimir:hover>h1,
#btn-invitaciones:hover>h1 {
  animation: 2s borderlisimo infinite;
  -webkit-animation: 2s borderlisimo infinite;
}

#letras {
  font: 5rem 'Times New Roman', Times, serif;
  color: black;
  transition: 0.25s ease;
  border: 5px solid;
}

.contenedor {
  height: 89.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkBtn {
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: 400ms color cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media screen and (max-width:1470px) {
  #letras {
    position: relative;
    bottom: 20vh;
    font: 3rem 'Times New Roman', Times, serif;
  }
    #btn-imprimir {
      background-position: bottom;
    }
}