.btnHome {
  height: 50%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

#btn-invitaciones {
  background-image: url(/invitacion.jpg);
  background-position: left;
  align-items: flex-end;
}

#btn-imprimir {
  background-image: url(/impresora.jpg);
  background-position: right;
}

#btn-imprimir:hover,
#btn-invitaciones:hover {
  opacity: 0.5;
}

#btn-imprimir:hover>p,
#btn-invitaciones:hover>p {
  text-decoration: underline;
}

#letras {
  font: 2rem 'Times New Roman', Times, serif;
  color: black;
}

.contenedor {
  height: 89.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkBtn {
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: 400ms color cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media screen and (max-width:1230px) {}