.caratula {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: lightgray;
}

.abrir {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.cerrar {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(0deg);
  -ms-transform: rotatey(0deg);
  transform: rotatey(0deg);
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transform: rotatey(0deg);
  -o-transform: rotatey(0deg);
}

.letter {
  font-family: fangsong;
  font-size: 20px;
  font-weight: bolder;
  background: aliceblue;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedor {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.contenedor>aside {
  position: relative;
  left: 10vw;
}

.contenedorBtn {
  margin: 8px;
}

.contenedorBtn button {
  margin-left: 20px;
  padding: 5px;
}

.contenedorDeLasInvitaciones {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.Button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
  margin-left: 2vw;
}

.Button>svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.Button:hover>svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.Button:hover {
  transform: translateY(-2px);
}

.ContendorInvitaciones {
  display: flex;
  width: 48vh;
  height: 52vh;
  transition: 0.5s;
  border: 2px solid white;
  margin: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ContendorInvitaciones>a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ContendorInvitaciones>a>img {
  width: 100%;
  height: auto;
  margin-bottom: 1vh;
  transition: 0.5s;
}


.ContendorInvitaciones>a:hover {
  filter: grayscale(1);
  display: flex;
  width: 48vh;
}

.ContendorInvitaciones:hover~.ContendorInvitaciones {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.ContendorInvitaciones>a:hover>p {
  margin: 12px;
}

.ContendorInvitaciones>a:hover>img {
  border-radius: 10%;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}